<html>
<header>
    <style rel="stylesheet" href="./login.css"></style>
</header>

<body>
    <p>I am the Index.html</p>
    <div>
        <form action="/home" method="POST">
            <table>
                <tr>Login</tr>
                <tr>
                    <td>
                        <label for="username">Username :</label>
                    </td>
                    <td>
                        <input type="text" name="username" placeholder="username" id="username" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password :</label>
                    </td>
                    <td>
                        <input type="text" name="password" placeholder="password" id="password" />
                    </td>
                </tr>
                <tr><button type="submit">Login</button></tr>
            </table>
        </form>
    </div>
</body>

</html>